@{
	ViewData["Title"] = "Books for Days";
}

<div class="p-5 mb-2 shadow" style="background-color:lightpink; border-radius:30px;">
	<h2>Books for Days <i class="fa fa-book" style="font-size:36px"></i></h2>
</div>

<div class="row">
	<div class="col-4">
		<img src="~/Images/bookpages.jpg" alt="Book Pages" class="img-fluid rounded-end">
	</div>
	<div class="col-8">
		<p>Our "Books for Days" app can be used to catalog, log and track the books you've read. 
		<p>You can discover new books to read next.<p>
		<p>You can connect with our community of book lovers to share book reviews and gather suggestions.</p>
		<p>We are always looking for new ways to improve our app! Please see our "Contact" page! </p>
	</div>
</div>