@{
	ViewData["Title"] = "Books for Days";
}

<div class="p-5 mb-2 shadow" style="background-color:lightpink; border-radius:30px;">
	<h2>Books for Days <i class="fa fa-book" style="font-size:36px"></i></h2>
</div>
<div class="ms-4">
    
    <address>
        500 Woodland Park Avenue<br />
        Traverse City, MI 49686<br />
        <i class="fa fa-phone" style="font-size:24px"></i> 800.LOG.BOOK
    </address>

    <address>
        <strong>Tech Support:</strong>   <a href="mailto:Support@booksfordays.com">Support@booksfordays.com</a><br />
        <strong>Community/Marketing:</strong> <a href="mailto:Marketing@booksfordays.com">Marketing@booksfordays.com</a>
    </address>
</div>
