@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="p-5 mb-2 shadow" style="background-color:lightpink; border-radius:30px;">
    <h2>Privacy Policy </h2>
</div>
<p class="ms-4"><i class="fa fa-lock" style="font-size:24px"></i>  All client information is confidential.</p>